/*Le asigno a todo el documento la fuente elegida*/
html{
    font-family: 'Libre Baskerville', serif;
   
}

/*Reseteo los valores */
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, #93e8f5, #cfd1f3, #b1bff8, #acacd8, #89d6a3, #eb8ee3, #ca5d87);
    animation: fondo-animado 10s infinite;
    background-size: 500%;
   
   
}
/*Le pego modificaciones al header que tiene su clase*/
.header-container{
    
    display: flex;
   
    height: 200px;
    
}

.logo{
animation-name: agrandar;
animation-iteration-count: infinite;
animation-duration: 2s;
animation-timing-function: lineal;
animation-direction: alternate;
padding-left: 45px;
padding-top: 20px;   
}

.logo-container{
    display: flex;
    width:500px;
    height: 200px;
    justify-content: center;
    
   
}
.header-derecha{

    display: flex;
   
    flex-direction: column;
   
   width: 100vw;
   height: 100hv;

 align-self: center;
   
}
.principal{
 
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
    width: 100vw;

}

a{
    text-decoration: none;
    color: rgb(28, 12, 243);
    text-shadow: 3px 3px black;
    margin: 0;
    font-weight: bold;
  
    
}
.acerca-contacto{
    display: flex;
    text-shadow: none;
    height: 100px;
    width: 100vw; 
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-bottom: 0px;
   
    
  
}
.ap{
    margin-top: 40px;
    height: 100px;
    align-items: center;
    align-self: center;
    
}
.acerca{
    text-shadow: none;
    width: 80px;
  
   
}
.contacto{
    width: 80px;
 
   
}

.principal{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
h1{
    
    font-size: 35px;
    color: rgb(248, 249, 250);
    border-bottom: 0px ;
    margin-top: 0px;
    text-shadow: 3px 3px black;
 
  
}
h4{

  font-size: 18px;
  color: white;
  text-shadow: 2px 2px black;
}

.articulos{
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
  
    flex-wrap: wrap;
    
    
}
figcaption{
    text-shadow: 0px 0px;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;

}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: relative;
    width: 100%;
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 45px;
    color: white;
    background: rgb(0, 0, 0, .4);
    text-align: center;

}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 0px;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}

.card .back .link{
    border-top: solid 1px white;
    height: 50px;
    line-height: 50px;
    color: white;

}
p{
    font-size: 14.8px;
    color: white;
    text-shadow: 3px 3px black;
}

.trailer{
    color: white;
    margin-bottom: 0px;
}

.card .back h3{
    font-size: 25px;
    margin-top: 1px;
    letter-spacing: 2px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

/*FOOTER GRID CONTAINER*/
.grid-container{
    
    display: grid;
    align-content: center;
   
margin-bottom: 6rem;
    font-size: 2rem;
    text-align: center;
    width: 100vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "titulo titulo titulo titulo titulo titulo"
    "facebook twitter instagram whatsapp linkedin youtube"
    "facebook twitter instagram whatsapp linkedin youtube"
    "facebook twitter instagram whatsapp linkedin youtube"
    "facebook twitter instagram whatsapp linkedin youtube"
    "facebook twitter instagram whatsapp linkedin youtube"
    ;
   
}

.titulo-redes{
    grid-area: titulo;
    color: white;
    text-shadow: 2px 2px black;
   width: 100vw;
   justify-content: center;

}

.facebook{
    grid-area: facebook;
    font-size: 4rem;
}

.twitter{
    grid-area: twitter;
    font-size: 4rem;
   
}
.instagram{
    grid-area: instagram;
    font-size: 4rem;
  
}
.whatsapp{
    grid-area: whatsapp;
    font-size: 4rem;
 
}
.linkedin{
    grid-area: linkedin;
    font-size: 4rem;
   
}
.youtube{
    grid-area: youtube;
    font-size: 4rem;
    color: red;
    
    
}
.animate__slow {
    --animate-duration: 3.5s;
  }

  .bxl-facebook-circle{
    color: rgb(21, 4, 247);
  }

  .bxl-twitter{
    color: rgb(43, 180, 243);
  }

  .bxl-instagram{
    color: rgb(245, 6, 57);
  }
  .bxl-whatsapp{
    color: rgb(6, 245, 78);

  
}

.bxl-linkedin{
    color: rgb(6, 10, 245);
  }
  .bxl-youtube{
    color: rgb(255, 4, 4);
  }

  .ap{
    display: flex;
    flex-direction: row;
    letter-spacing: 40px;
    text-shadow: 3px 3px black;
  }

  @keyframes agrandar {
    from{
        transform: scale(1.0);}
    to{
        transform: scale(1.3);}
      }

  @keyframes fondo-animado{
    0%{
        background-position: 0% 50%;}
    50%{
        background-position: 100% 50%;}
    100%{
        background-position: 0% 50%;}
    }
    
    /*------------------------about-------------------------------*/

    .header-about{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 45px;
    }
    .yo{
        width: 30%;
        shape-outside: url(/imagenes/PABLIX_TRANSPARENCIA.png);
shape-image-threshold: 0.5;
shape-margin: 10px;
float:left;
justify-content: center;
    }
  .ancor{
    display: flex;
    justify-content: center;


  }

  .pabout{
    font-size: 20px;
    text-shadow: none;
    color: black;
    width: 90ch;
    letter-spacing: 0.2ch;
    text-align: justify;
    
  }

  form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 20px;
    
  }

 input, textarea {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .checkbox{
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content:center;
   flex-direction: row;
 

  }

  .contac{
    
    display: flex;
    justify-content: center;
  }
    /* media queries*/

@media screen and (max-width: 576px){

    .header-container{
    flex-direction: column;
  
    align-items: center;
    width: 576px;

}
.logo{
    width: 25vw;
 
}

.ap{
    height: 10vw;
    letter-spacing:2vh;
     
}

.acerca-contacto{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 18rem;
    justify-items: center;
    align-items: center;
    padding: 2rem;
}

.contacto{
    
}

.acerca, .contacto{
    width: 8rem;
}
.grid-container{
   
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-template-areas:
    "titulo"
    "facebook"
    "twitter"
    "whatsapp"
    "linkedin"
    "youtube"
    ;
   
}
}

